.users-list-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  min-height: 45%;
  border-radius: 5px;

  background-color: rgb(135, 193, 237);
  .users-list-contents {
    box-sizing: border-box;
    padding: 20px;
    .user-row {
      display: flex;
      justify-content: flex-start;
      gap: 0px;
      width: 100%;

      &.column-head {
        p {
          font-weight: 900;
        }
      }

      p {
        display: flex;
        justify-content: center;

        border-bottom: 1px solid rgb(118, 147, 170);
        padding: 5px 10px;
        box-sizing: border-box;
        margin: 0;
        width: 290px;
      }
    }
  }
}
